.container{
    margin: 70px;
    width: 400px;
    text-align: center;
    font-size: 25px;
 }
 button {
    font-size: 20px;
    padding: 10px 15px;

 }
#value {
     font-size: 100px;
     line-height:120px ;
 }
